    body,
    html {
        height: 100%;
    }
    
    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .bg-image {
        /* The image used */
        background-image: url("img/guitar_playing_background.jpeg");
        /* Add the blur effect */
        filter: blur(8px);
        -webkit-filter: blur(1px);
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .bg-text {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
    }
    
    button {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #fff;
        border-style: groove;
        background: transparent;
        text-align: center;
        margin: 0px 0px;
    }
    
    input {
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        font-weight: bold;
        border-style: groove;
        background: transparent;
    }